@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

* {
  margin: 0;
  padding: 0;
}

img.aboutus {
  width: 15em;
  height: 15em;
  box-shadow: 5px 5px 5px black;
  border-radius: 50%;
  margin-top: 60px;
}

section.people {
  display: inline;
  text-align: center; 
  color: white;
}

p {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1.5em;
  color: white;
  background: rgba(0,0, 0,0.6);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 35px 30px 30px 30px;
}

body#aboutus h1 {
  text-align: center;
  padding-bottom: 20px;
}

h2{
  color:white;
  width: 4em;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
}


body#aboutus {
  background-image: url("about_me_background.jpg");
  background-size: auto;
  background-attachment: fixed;
  max-width: 100%;
  font-family: Lato;
  font-weight: 200;
}

nav {
  font-size: 2em;
  width: 100%;
  padding: 20px 0 20px 0;
  display: table;
  background: rgba(0,0, 0,0.4);
  color: white;
}

nav ul{
  list-style: none;
  display: table-row;
}

nav li{
  text-align: center;
  display: table-cell;
  margin: 0 30px;
}

a{
  color: white;
  text-decoration: none;
  transition: .5s;
}

a:hover {
  color: black;
}


