/* font */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

/* general */
* {
  margin: 0;
  padding: 0;
}
body {
  background: no-repeat fixed;
  background-size: cover;
  max-width: 100%;
  font-family: Lato;
  font-weight: 200;
}
body#about {
  background-image: url("images/backgrounds/about_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
p {
  font:Lato;
  color: white;
  font-size: 2em
}

/* navbar */
nav {
  font-size: 2em;
  width: 100%;
  padding: 20px 0 20px 0;
  display: table;
  background: rgba(0,0, 0,0.4);
  color: white;
}
nav ul {
  list-style: none;
  display: table-row;
}
nav li {
  text-align: center;
  display: table-cell;
  margin: 0 30px;
}
/* responsive */
@media (max-width: 650px) {
  nav li {
    display: block;
  }
}
nav li a {
  color: white;
  text-decoration: none;
}
nav li:hover a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}


/*order here */
form, #summary_wrapper {
  background: rgba(0,0, 0,0.75);
  width: 75%;
  padding: 10px;
  margin: 10px auto;
}
@media (max-width: 650px) {
  form {
    width: 90%;
  }
}

fieldset {
  border: solid 1px white;
  margin-bottom: 10px;
  color: white;
  font-size: 2em;
}
form label, form .labelitem {
  text-align: right;
  margin: 5px 0 5px 0;
}

input, select, textarea {
  display: block;
  float: left;
  box-sizing: border-box;
  text-align: left;

  /* no background, only bottom border */
  background: none;
  border: none;
  border-bottom: 3px solid white;

  color: white;
  margin: 5px;
  padding: 5px;
  font-size: 0.7em;
}
/* textarea has border on all 4 sides, not just bottom */
textarea { border: 3px solid white; }
/* checkboxes and radio buttons should not be really wide */
input:not([type=checkbox]):not([type=radio]), select, textarea { width: 300px; }
/* input, select, and not textarea, should not be 1 line high */
input, select { height: 2em; }
/* on chrome, this also changes the background color of the dropdown */
select:focus { background: black; }
/* invalid inputs */
input:required:invalid { border-bottom-color: red; }

input[type=submit], input[type=reset] {
  color: white;
  background: none;
  border: 3px solid white;
}
input[type=submit]:hover, input[type=reset]:hover {
  color: rgba(0, 0, 0, 0.75);
  background: white;
}
/* offset the text a bit when you click */
input[type=submit]:active, input[type=reset]:active {
  padding-top: 7px;
  padding-left: 7px;
}

.inputitem {
  display: block;
  float: left;
}
.labelitem {
  display: block;
  float: left;
  vertical-align: text-top;
  width: 240px;
  margin: 2px;
}
br {
  clear: left;
}
p.info {
  font-size: 0.7em;
  color: red;
  display: block;
  margin: 0 0 0 2px;
}

#summary_wrapper {
  display: none;
  font-size: 0.5em;
  text-align: center;
}

#hand_image {
  width: 40%;
}

#spinner {
  display: none;
  width: 5%;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Welcome */
#logo {
    display: block;
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
#feast{
  display: block;
  opacity: .8;
  margin-bottom: 0;
  padding-bottom: 0;
  margin: 0 auto;
  max-width:100%;
}

#welcome{
  background: rgba(0,0, 0,.8);
  text-align: center;
  margin-top:0;
}

#greeting{
  text-align: center;
  font-size:7em;
  font-family: Lato;
  font-weight: 200;
  color: rgba(255,255,255,0.6)
}

/*About Us*/
img.aboutus {
  width: 15em;
  height: 15em;
  box-shadow: 5px 5px 5px black;
  border-radius: 50%;
  margin-top: 60px;
}

section.people {
  display: inline;
  text-align: center;
  color: white;
}

section.people p {
  padding:10px 0px 10px 0px;
  font-size: 1.5em;
  color: white;
  background: rgba(0,0, 0,0.7);
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 35px;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 3.5em;
}


/* Review */
#reviews {
  margin: 20px;
  min-width: 420px;
}
#reviews article {
  background: rgba(0,0,0,0.75);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}
#reviews img {
  float: left;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  margin: 20px;
}
#reviews  blockquote {
  padding: 15px;
  color: white;
  font-size: 1.5em;
  text-align: justify;
}
#reviews .author {
  display: block;
  text-align: right;
  font-style: italic;
  font-size: 1.25em;
}
