@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

* {
  margin: 0;
  padding: 0;
}

body {
  background: no-repeat fixed;
  background-size: cover;
  max-width: 100%;
  font-family: Lato;
  font-weight: 200;
}

a {
  text-decoration: none;
}

/* navbar */

nav {
  font-size: 2em;
  width: 100%;
  padding: 20px 0 20px 0;
  display: table;
  background: rgba(0,0, 0,0.4);
  color: white;
  text-align: center;
}
nav ul {
  list-style: none;
  display: table-cell;
}
nav li {
  text-align: center;
  display: table-cell;
  float: right;
  margin: 0 50px 0 50px;
}
nav li a {
  color: white;
}
nav li:hover a {
  text-decoration: underline;
}

p {
  font-size: 4em;
  color: white;
  position: absolute;
  bottom: 50px;
  right:2em;
  text-shadow: 3px 3px 3px grey;
}


form, #summary_wrapper {
  display: inline-block;
  background: rgba(0,0, 0,0.75);
  width: 75%;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

#logo {
    display: block;
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
}

fieldset {
  border: solid 1px white;
  margin-bottom: 5px;
  color:white;
  font-size: 2em;
  text-align: center;
}
input, select, textarea {
  display: block;
  float: left;
  margin: 2px;
  height:2em;
  width:300px;
  box-sizing: border-box;
  text-align: left;
}

#address{
  width:500px;
}

input:required:invalid {
  background: white right no-repeat url("invalid.png");
}
input:required:valid {
  background: white right no-repeat url("valid.png");
}
input:required:valid ~ p.info {
  visibility: hidden;
}
.inputitem {
  display: block;
  float: left;
}
.labelitem {
  display: block;
  float: left;
  vertical-align: text-top;
  width: 240px;
  margin: 2px;
}
br {
  clear: left;
}
p.info {
  font-size: 0.7em;
  color: red;
  display: block;
  margin: 0 0 0 2px;
}
