* {
  margin: 0;
  padding: 0;
  font-family:"omnes-pro",sans-serif;
}

body {
  background: no-repeat fixed;
  background-size: cover;
  max-width: 100%;
}

nav {
  font-size: 2em;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  display: table;
  background-color: black;
  color: white;
  text-align: center;
}

nav ul{
  list-style: none;
  display: table-cell;
}

nav li{
  text-align: center;
  display: table-cell;
  width: 16.6%;
  float: right;

}
